@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto Slab', serif;

}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.404);
}
.container{
    position: relative;
    background-color: rgb(255, 255, 255);
    max-width: 430px;
    width: 100%;
    border-radius:10px ;
    box-shadow: 0 5px 10px rgb(0, 0, 0,0.1);
}
.container .form{
    padding: 30px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: rgb(115, 128, 202);
    border-radius:25px ;
}
.form .input-field{ 
    position: relative;
    height:50px;
    width: 100%;
    margin-top: 30px;
}
.form .input-field input{
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top:2px solid transparent ;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.input-field i.uname{
    left: 0;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
}
.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.form a{
    text-decoration: none;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a:hover{
    text-decoration: underline;
}
.form .button input{
    border: none;
    color: rgb(199, 22, 22);
    letter-spacing: 1px;
    font-weight: 500;
    border-radius:6px;
    background-color: rgba(93, 196, 93, 0.699);
    cursor: pointer;
}
.button input:hover{
    background-color: rgba(172, 255, 47, 0.589);
}
.form .login-signup{
    margin-top: 20px;
    text-align: center;
}


